.search-button {
        position: absolute;
        border: 2px solid #207cca;
        background-color: #207cca;
        color: #fafafa;
        height: 77%;
}

.css-nav-button {
        padding-top: 15px; 
        border: none;
        height: 100%; 
        color: yellow; 
        background-color: black; 
        float: right;
}

.home-nav-button {
        border: none;
        color: yellow; 
        background-color: black; 
        float: left;
        height: 98%; 
}