.search-button {
        position: absolute;
        border: 2px solid #207cca;
        background-color: #207cca;
        color: #fafafa;
        height: 77%;
}

.search-button {
        border: none;
        background-color: white;
        color: #e5b062;
        margin-left: -30px;
        z-index: 100;
        height: 34px;
        width: 25px;
}

.css-nav-button {
        padding-top: 30px; 
        border: none;
        height: 100%; 
        color: white; 
        background-color: #e5b062;
        font-weight: 700;
        margin-top: -25px;
        margin-left: 200px;

        &:hover {
                background-color: #e5b062;
        }
}

.home-nav-button {
        border: none;
        color: white; 
        background-color: #e5b062;
        height: 100%;
        font-size: 23px;
        padding-top: 22px;
        margin-top: -27px;
        margin-left: 200px;
        display: inline-block;

        &:hover {
                background-color: #e5b062;
        }
}