.part-version-label {
  font-style: italic;
  color: #C0C0C0;
  display: inline-block;
  margin-left: 10px;
}

.part-name-label {
	font-size: 60px;
	font-weight: 100;
	display: inline-block;
}

.version-label {
	font-size: 24px;
	margin-left: 20px;
	color: #C8C8C8;
	font-style: italic;
	font-weight: 100;
	display: inline-block;
}

.total-downloads-header {
	color: #D8D8D8;
	font-weight: 600;
}

.total-downloads-label {
	font-size: 28px;
	font-weight: 600;
}

.downloads-for-this-version-header {
	color: #D8D8D8;
	font-weight: 600;
}

.downloads-for-this-version-label {
	font-size: 28px;
	font-weight: 600;
}

.partfile-header {
	color: #D8D8D8;
	font-weight: 600;
	padding-bottom: 15px;
}

.links-header {
	color: #D8D8D8;
	font-weight: 600;
	padding-bottom: 15px;
}

.links {
	color: black; font-weight:700;
}

.versions-label {
	color: #D8D8D8;
	font-weight: 600;
	padding-bottom: 15px;
}

.authors-label {
	color: #D8D8D8;
	font-weight: 600;
	padding-bottom: 15px;
}

.parts-header-label {
	font-size: 60px;
	font-weight: 100;
	border-bottom: 1px solid #D8D8D8;
	padding: 30px 0;
}

.dev-name {
	margin-top: 20px;
	float: left;
	font-weight: 500;
	font-size: 20px;
}

.homepage-title {
	color: white;
	font-weight: 100;
	font-size: 52px;
}