<div class="header-bar">
	<button class="glyphicon glyphicon-home btn btn-default home-nav-button"></button>

  <div class="input-group search-control-div">
    <%= form_tag "/parts/search", :method => 'get', :class => 'search-control' do %>
        <%= text_field_tag :search, params[:search], :class => 'form-control' %>
        <%= submit_tag "Search", :class => 'search-button', :value=>'⌕' %>
    <% end %>
  </div>
	<%= link_to "CSS", "/parts/", :class => "btn btn-default css-nav-button" %>
</div>

<div id="wrapper">

