<div style="height: 55px; width: 100%; background-color: black; padding-top: 10px;">
	<button class="glyphicon glyphicon-home btn btn-default" style="color: yellow; background-color: black; float: left;"></button>
  <div class="input-group" style="width: 400px; float: left;">
    <input type="search" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <submit class="btn btn-default glyphicon glyphicon-search" style="margin-top: -1px;" type="button"></submit>
    </span>
  </div>
	<button class="btn btn-default" style="color: yellow; background-color: black; float: right;">Sign Up</button>
	<button class="btn btn-default" style="color: yellow; background-color: black; float: right;">Sign In</button>
	<button class="btn btn-default" style="color: yellow; background-color: black; float: right;">CSS</button>
</div>