<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <%= link_to "Upload New", upload_path %>
        </li>
        <li class="sidebar-brand">
            <%= link_to "Update Existing", "/upload/update" %>
        </li>
    </ul>
</div>