<!DOCTYPE html>
<html>
<head>
  <title>RichCSS Apple Menu Demo</title>
  <%= stylesheet_link_tag 'applemenu' %>
  <%= csrf_meta_tags %>
</head>
<body class="homepage">
<div class="old">
  <ul>
    <li><a href="javascript:void(0);">Store</a></li>
    <li><a href="javascript:void(0);">Mac</a></li>
    <li><a class="current" href="javascript:void(0);">iPod</a></li>
    <li><a href="javascript:void(0);">iPhone</a></li>
    <li><a href="javascript:void(0);">iPad</a></li>
    <li><a href="javascript:void(0);">iTunes</a></li>
    <li><a href="javascript:void(0);">Support</a></li>
  </ul>
</div>
<div class="new">
  <ul>
    <li><a href="javascript:void(0);">Store</a></li>
    <li><a href="javascript:void(0);">Mac</a></li>
    <li><a class="current" href="javascript:void(0);">iPod</a></li>
    <li><a href="javascript:void(0);">iPhone</a></li>
    <li><a href="javascript:void(0);">iPad</a></li>
    <li><a href="javascript:void(0);">iTunes</a></li>
    <li><a href="javascript:void(0);">Support</a></li>
  </ul>
</div>
</body>
</html>
