<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/box/positioning.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/box/blocks.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/box/main.css">

<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/button.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/images.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/fonts.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/lists.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/colors.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/inputs.css">
<link rel="stylesheet" href="../../assets/stylesheets/parts/skeleton/lib/elements/features.css">


<!--HEADER-->
<header>
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1>- Design What You Imagine -</h1>
        <h4>Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.</h4>
        <a href="#" class="btn">Hire me</a> 
      </div>
    </div>
    
    <section class="services">
      <div class="row">
        <div class="twelve columns">
          <h3>My areas of expertise</h3>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <a href="#">
            <h4>Graphic Design</h4>
            <span class="fa fa-picture-o"></span>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </a>
        </div>
        <div class="one-half column">
          <a href="#">
            <h4>Web Design</h4>
            <span class="fa fa-leaf"></span>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>

<!--ABOUT-->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Who am I</h3>
      </div>
    </div><!--end of .row-->
    <div class="row bottom">
      <div class="two-thirds column">
        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
        sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
        Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
      </div>
      <div class="one-third column">
        <h4>Degrees</h4>
        <ul>
          <li>BA in Information Systems</li>
          <li>MSc in Applied Mathematics </li>
          <li>Phd in Artificial Intelligence</li>
        </ul>
        <h4>Honors</h4>
          <ul>
            <li>1st place in the contest "MyContest"</li>
            <li>Best Paper for 2014</li>
          </ul>
          <a href="#" class="btn">CV</a>
      </div>
    </div><!--end of .row-->
    <div class="row">
      <div class="twelve columns">
        <h4 class="center">Interested in samples of my work?</h4>
      </div>
    </div><!--end of .row-->
    <div class="row">
      <div class="twelve columns">
        <a href="#" class="btn block">Visit Codepen</a>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>