<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/box/main.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/box/positioning.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/box/blocks.css">

<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/images.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/fonts.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/colors.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/lists.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/button.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/features.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/parts/social_footer/lib/elements/inputs.css">

<div class="content">Social Footer by BloggingTronix</div>
<div class="footer">
  <div class="social">&#62220;</div>
  <div class="social">&#62217;</div>
  <div class="social">&#62223;</div>
  <div class="social">&#62232;</div>
  <div class="social">&#62235;</div>
  <div class="social">&#62226;</div>
  <div class="social">&#62214;</div>
</div>