.part-block {
	padding: 30px 0;
	border-bottom: 1px solid #D8D8D8;
}

.sidebar {
	right: 0; 
	position: absolute; 
	padding: 30px 0;
	display: inline-block;
}

.sidebar-border {
	border-left: 1px solid #D8D8D8;
	padding-left: 40px;
}

.versions-block {
	width: 75%;
	border-bottom: 1px solid #D8D8D8;
	padding: 30px 0;
}

.part-desciption-block {
	border-bottom: 1px solid #D8D8D8;
	width: 75%;
	padding: 20px 0;
	display: inline-block;
}

.parts-block {
	padding-bottom: 40px;
	color: black;
}

.parts-container-block {
	padding-top: 30px;
}