.padding-between-text {
	padding-bottom: 5px;
}

.padding-top-bottom-20 {
	padding: 20px 0;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-5 {
	padding-top: 5px;
}

.width-auto {
	width: auto;
}

.display-inline-block {
	display: inline-block;
}

.position-absolute-right {
	right: 0; 
	position: absolute; 
}